node_modules
.next
_next
.DS_Store
dist
coverage
npm-debug.log*
yarn.lock
pnpm-lock.yaml
*.log

# deploy artifacts
deploy.env
deploy.sh
deploy-package.tar.gz

# local env (never commit secrets)
.env.local

